.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    height: 100%;

    .firstPparagraph {
        height: auto;
    }
}

.refContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentsContainer {
        height: auto;
        width: 100%;
        max-width: 1100px;

        display: flex;
        justify-content: space-around;

        .refItem {
            display: flex;
            flex-direction: column;
    
            a {
                color: black;
                margin: 10px 3px;
                text-decoration: none;
            }
    
            a:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}

.resumePageContainer {
    width: 80%;
    margin: auto;

    .title {
        margin-bottom: 20px;
    }

    .resumeContainer {
        width: 100%;
        text-align: left;
        white-space: pre-wrap;
        font-family: 'GmarketSansMedium';
        border-bottom: 1px solid;
        margin-bottom: 30px;

        display: flex;

        .leftArea {
            flex-grow: 1;
        }

        .rightArea { 
            flex-grow: 1;
            margin: 10px;
            padding: 30px;
            border-radius: 5px;
            border: 1px solid #424141;
        }

        .resumeItem {
            margin: 15px 0;

            .selectedItem {
                width: fit-content;
                color: white;
                background-color: #424141bb; 
            }
        }

        .skillContainer {
            flex-grow: 1;
            margin: 10px;

            .skillBox {
                margin: 15px 0;
                border: 3px solid black;
    
                .skillItem {
                    width: fit-content;
                }
            }
        }
    }

    .flexColumnContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .homeContainer {
        display: flex;
        flex-direction: column;
    
        .firstPparagraph {
            padding: 5px 15px;
        }
    }

    .refContainer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .contentsContainer {
            display: flex;
            flex-direction: column;
    
            .refItem {
                margin: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 26px;
                padding-bottom: 30px;
                width: 234px;
                border-bottom: 1px solid black;
        
                a {
                    color: black;
                    margin: 10px 3px;
                    text-decoration: none;
                }
        
                a:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
        }
    }
}