.refContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentsContainer {
        height: auto;
        width: 100%;
        max-width: 1100px;

        display: flex;
        justify-content: space-around;

        .aboutMe {
            width: 80%;
        }

        .refItem {
            display: flex;
            flex-direction: column;

            a {
                color: black;
                margin: 10px 3px;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}

.normalHeight {
    line-height: normal;
}

.middleLine {
    width: 80%;
    margin: auto;
}

a {
    color: black;
}

.resumePageContainer {
    width: 80%;
    height: 100%;
    margin: auto;

    .flexOne {
        flex: 1
    }

    .resumeContainer {
        width: 100%;
        display: flex;
        text-align: left;
        white-space: pre-wrap;
        flex-direction: column;
        font-family: 'GmarketSansMedium';
        border-bottom: 1px solid;
        margin-bottom: 30px;

        .resumeItem {
            margin: 15px 0;
        }

        .rowItem {
            display: flex;
        }

        .skillBox {
            margin: 5px 0 10px 3px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 768px) {
    .resumePageContainer {
        .rowItem {
            flex-direction: row;
        }

        .border {
            border-right: 1px solid gray;
            border-left: 1px solid gray;
        }
    }
}

@media screen and (max-width: 767px) {
    .homeContainer {
        flex-direction: column;

        .imgContainer {
            height: 200px;
            width: 250px;
        }

        .firstPparagraph {
            padding: 5px 15px;
        }
    }

    .refContainer {
        .contentsContainer {
            display: flex;
            flex-direction: column;

            .refItem {
                margin: auto;
                margin-bottom: 26px;
                padding-bottom: 30px;
                width: 234px;
                border-bottom: 1px solid black;
            }
        }
    }

    .resumePageContainer {

        .flexColumnContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .rowItem {
            display: flex;
            flex-direction: column;
        }
    }
}